%p#notice= notice

%p
  %b Title:
  = @post.title
%p
  %b Article:
  = @post.article
%p
  %b Published on:
  = @post.published_on
%p
  %b Tags:
  = @post.tags

= link_to 'Edit', edit_post_path(@post)
\|
= link_to 'Back', posts_path
